@font-face {
  font-family: "allseto";
  src: url("/src/assets/fonts/allseto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "allseto", sans-serif;
}
